:root {
    --toggle-dot-sz: 1.2em;
    --toggle-padding: 0.1em;
}

.toggle-container {
    display: flex;
    align-items: center;
}

.toggle-container:not(:last-child) {
    margin-bottom: var(--small-spacing);
}

.toggle-input {
    appearance: none;

    width: 0;
    height: 0;
    margin: 0;
    opacity: 0;
}

.toggle {
    position: relative;

    border: var(--border);
    margin-right: var(--small-spacing);
    border-radius: var(--toggle-dot-sz);
    background-color: var(--dark-col-3);
    height: calc(var(--toggle-dot-sz) + 2 * var(--toggle-padding));
    width: calc(2 * (var(--toggle-dot-sz) + var(--toggle-padding)));
    transition: background-color var(--transition-duration) ease-in-out;
}

.toggle-input:checked + .toggle {
    background-color: var(--elt-col-1);
}

.toggle::before {
    display: inline-block;
    position: absolute;

    content: "";
    border-radius: 100%;
    top: var(--toggle-padding);
    left: var(--toggle-padding);
    width: var(--toggle-dot-sz);
    height: var(--toggle-dot-sz);
    background-color: var(--light-col-1);
    transition: left var(--transition-duration) ease-in-out;
}

.toggle-input:hover + .toggle {
    background-color: var(--dark-col-4);
}

.toggle-input:checked:hover + .toggle {
    background-color: var(--elt-col-2);
}

.toggle-input:checked + .toggle::before {
    left: calc(var(--toggle-padding) + var(--toggle-dot-sz));
}