:root {
    --toggle-dot-sz: 1.4em;
    --toggle-padding: 0.1em;
}

.toggle-container {
    display: flex;
    align-items: center;

    column-gap: var(--small-spacing);
}

.toggle-container:not(:last-child) {
    margin-bottom: var(--small-spacing);
}

.toggle {
    appearance: none;
    position: relative;

    outline: var(--border);
    border-radius: var(--toggle-dot-sz);
    background-color: var(--dark-col-3);
    height: calc(var(--toggle-dot-sz) + 2 * var(--toggle-padding));
    width: calc(var(--toggle-dot-sz) * 2 + var(--toggle-padding) * 2);
    transition: background-color var(--transition-duration) ease-in-out;
}

.toggle:checked {
    background-color: var(--elt-col-1);
}

.toggle::before {
    display: inline-block;
    position: absolute;

    content: "";
    top: var(--toggle-padding);
    left: var(--toggle-padding);
    width: var(--toggle-dot-sz);
    height: var(--toggle-dot-sz);
    border-radius: var(--toggle-dot-sz);
    background-color: var(--light-col-1);
    transition: transform var(--transition-duration) ease-in-out;
}

.toggle:hover {
    background-color: var(--dark-col-4);
}

.toggle:checked:hover {
    background-color: var(--elt-col-2);
}

.toggle:checked::before {
    transform: translateX(var(--toggle-dot-sz));
}