:root {
    --accordion-icon-size: 0.7em;
    --accordion-header-padding: 10px 20px;
    --expand-transition: grid-template-rows var(--transition-duration) ease-in-out;
}

.accordion {
    overflow: hidden;

    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--dark-col-3);
}

.accordion-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    border-radius: 0px;
    background-color: var(--dark-col-4);
    padding: var(--accordion-header-padding);
}

.accordion-section.active > .accordion-section-header {
    background-color: var(--elt-col-2);
}

.section-arrow {
    transform: rotate(0deg);
    transition: transform var(--transition-duration) ease-in-out;
    border-left: calc(0.5 * var(--accordion-icon-size)) solid transparent;
    border-right: calc(0.5 * var(--accordion-icon-size)) solid transparent;
    border-top: calc(0.866 * var(--accordion-icon-size)) solid var(--light-col-1);
}

.accordion-section.active .section-arrow {
    transform: rotate(180deg);
}

.section-wrapper {
    display: grid;
    visibility: hidden;
    
    grid-template-rows: 0fr;
    padding: 0px var(--small-spacing);
    transition: visibility 0s var(--transition-duration),
                var(--expand-transition);
}

.section-content {
    overflow: hidden;
    box-sizing: border-box;
}

.accordion-section.active > .section-wrapper {
    visibility: visible;

    grid-template-rows: 1fr;
    transition: var(--expand-transition);
}

@keyframes fold-out {
    0% { transform: rotateX(90deg); }
    100% { transform: rotateX(0deg); }
}

.accordion-section:not(:last-child) {
    border-bottom: var(--border);
}